body {
margin: 0;
text-align: center;
font-family: "merriweather", sans-serif;
}
a {
    margin: 20px 20px;
    text-decoration: none;
}
a:hover {
    color: #FAC213;
}
h1 {
    font-family: "Charmonman", sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #562B08 ;
}
h2 {
    font-family: "Oranienbaum", serif;
   color: #6A3937;
}
h3 {
    color: #BE9639 ;
}
hr {
    border: dotted;
    color: #DEEFB7;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.phase1 {
    background-color: #CFB997;
}
.upper-cloud {
    position: relative;
    left: 200px;
    padding: 80 0 10 0;
}
.bottom-cloud {
    position: absolute;
}
.profile {
    margin-top: 50px;
}
.hi {
    margin: 50px auto;
}
.about {
    width: 30%;
    margin: auto;
    line-height: 2;
}
.skills {
    width: 30%;
    line-height: 2;
    margin: auto;
    text-align: left;
}
.smile1 {
    float: left;
    margin-right: 30px;
}
.smile2 {
    float: right;
    margin-left: 30px;    
}
.what {
    margin-bottom: 100px;
}
.btn {
    background: #DEA057;
    background-image: -webkit-linear-gradient(top, #DEA057, #E6B325);
    background-image: -moz-linear-gradient(top, #DEA057, #E6B325);
    background-image: -ms-linear-gradient(top, #DEA057, #E6B325);
    background-image: -o-linear-gradient(top, #DEA057, #E6B325);
    background-image: linear-gradient(to bottom, #DEA057, #E6B325);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "merriweather", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #A47E3B;
    background-image: -webkit-linear-gradient(top, #A47E3B, #FAC213);
    background-image: -moz-linear-gradient(top, #A47E3B, #FAC213);
    background-image: -ms-linear-gradient(top, #A47E3B, #FAC213);
    background-image: -o-linear-gradient(top, #A47E3B, #FAC213);
    background-image: linear-gradient(to bottom, #A47E3B, #FAC213);
    text-decoration: none;
  }
  .phase3 {
    background-color: #A47E3B;
    margin-top: 70px;
    padding: 50px 0 16px;
  }
  .contact {
    width: 30%;
    line-height: 2;
    margin: auto;
  }
  .message {
    margin-bottom: 60px;
  }
  .twitter {
    width: 30%;
  }
  .instagram {
    width: 30%;
  }